body {
	body {
		font-family: Arial, sans-serif;
		margin: 0;
		padding: 0;
		background-color: #f9f9f9;
		color: #333;
	}
}

.container {
	max-width: 1000px;
	margin: 50px auto;
	padding: 20px;
	background: #fff;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	border-radius: 8px;
	text-align: center;
}
.main-container {
	height: 60vh;
	display: grid;
	align-items: center;
	justify-content: center;
}
.home-link {
	position: relative;
	top: 0;
	bottom: 0;
	display: flex;
	align-items: center;
	color: lightcoral;
	font-family: Arial, sans-serif;
	font-size: 1.2rem;
	text-decoration: none;
	font-weight: bold;
	transition: color 0.3s ease;
}

.home-link i {
	margin-left: 8px;
}

.home-link:hover {
	color: crimson;
	cursor: pointer;
}
.home-link::before {
	content: "\2190";
	margin-right: 8px;
}
.all-p-container > li a {
	text-decoration: none;
	color: #0077cc;
	font-weight: bold;
	margin-top: 10px;
}
.all-p-container > li a:hover {
	text-decoration: underline;
}
h1 {
	font-size: 2em;
	margin-bottom: 20px;
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
	color: #6b4f2d;
}

input[type="text"] {
	padding: 10px;
	font-size: 16px;
	width: 80%;
	margin-right: 10px;
}
/* all People */
ul {
	list-style: none;
	padding: 0;
}
li {
	margin-bottom: 20px;
	padding: 15px;
	background: #f1f1f1;
	border-radius: 6px;
	display: flex;
	flex-direction: column;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.details-container {
	padding: 24px 44px;
}
.description {
	font-size: 0.9em;
	color: #555;
}
/* Index */
form {
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 60vh;
}
input {
	width: 100%;
	padding: 10px;
	margin-bottom: 15px;
	border: 1px solid #ccc;
	border-radius: 5px;
	font-size: 1em;
}
button {
	display: block;
	width: fit-content;
	padding: 10px 20px;
	background-color: #0077cc;
	color: #fff;
	border: none;
	border-radius: 5px;
	font-size: 1em;
	cursor: pointer;
	transition: background-color 0.3s;
}
button:hover {
	background-color: #005fa3;
}
/* Details */
p {
	text-align: left;
	font-size: 1.1em;
	margin-bottom: 20px;
	color: #555;
	line-height: 1.5;
}
.birth_city {
	color: #0077cc;
	text-align: center;
}
a {
	display: inline-block;
	max-width: fit-content;
	margin-top: 20px;
	padding: 10px 25px;
	background-color: #0077cc;
	color: hsl(0, 0%, 100%);
	text-decoration: none;
	border-radius: 5px;
	text-align: center;
	font-weight: bold;
	transition: background-color 0.3s;
}

a:hover {
	background-color: #005fa3;
	text-decoration: none;
}
