<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>All People</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style.css') }}"
    />
  </head>
  <body>
    <div class="container">
      <h1>All People</h1>
      <ul>
        {% for person in people %}
        <li>
          <a href="{{ url_for('person_details', id=person.id) }}"
            >{{ person.first_name }} {{ person.last_name }}</a
          >
        </li>
        {% endfor %}
      </ul>
    </div>
  </body>
</html>
