{% extends 'base.html' %}
{% block title %}All Peoples {% endblock %}


{% block content %}
<div class="all-p-container container">
  <h1>All People</h1>
  <ul class="name-list-container">
    {% for person in people %}
    <li>
      <div>
        <h1>
          <strong>{{ person.first_name }} {{ person.last_name }}</strong>
        </h1>
        <p class="description">
          {{ person.early_life[:300] }}...
          <!-- Display clipped description -->
        </p>
      </div>
      <a href="{{ url_for('person_details', id=person.id) }}">View Details</a>
    </li>
    {% endfor %}
  </ul>
</div>
{% endblock %}